<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>影流网</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/css/front.css"/>
		<link rel="stylesheet" href="/swiper/swiper-4.4.1.min.css"/>
		<link rel="stylesheet" href="/css/onemove.css" />
	</head>
<% include head.html%>
单个电影页

<% include foot.html%>
		<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<script src="/swiper/swiper-4.4.1.min.js"></script>
		<script src="/js/front.js"></script>
		<script src="/js/onemove.js"></script>
	</body>

</html>